.applications {
    margin: 1rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.application {
    width: calc((100vw - 5rem) / 2);
    height: 200px;
    border: 1px solid black;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.team-name {
    padding: 0.5rem 0 0.5rem 1rem;
    border-bottom: 1px solid black;
    background-color: #25516D;
    color: white;
}

.body-container {
    padding: 0.5rem 0 0.5rem 0;
    height: 100px;
    width: 100%;
}

.body-div {
    margin-left: 0.5rem;
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.button {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    display:flex;
    gap: 1rem;
}

.bold {
    font-style:oblique;
}



